# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
# Libraries should not include pubspec.lock, per https://dart.dev/guides/libraries/private-files#pubspeclock.
/pubspec.lock
.dart_tool/
.packages
build/

lib/adrop_error_code.dart
lib/adrop_method_channel.dart
lib/adrop_platform_interface.dart
lib/banner/adrop_banner.dart
lib/banner/adrop_banner_container.dart
lib/bridge/adrop_channel.dart
lib/bridge/adrop_method.dart
lib/model/call_create_banner.dart

